@model IEnumerable<Quan_Ly_TV.Models.PhieuMuon>

@{
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
    Quan_Ly_TV.Models.QuanLyThuVienEntities1 db = new Quan_Ly_TV.Models.QuanLyThuVienEntities1();
    var ctpm = db.CT_PhieuMuon.ToList();
    var Pt = db.PhieuPhat.ToList();
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Danh Sách Độc Giả</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
        a:hover {
            opacity: 0.7;
            text-decoration: none;
        }

        .find {
            border-radius: 6px;
            border: 1px solid #ccc;
            width: 250px;
            height: 35px;
            margin-right: 11px;
        }

        .btn-tim {
            width: 80px;
            height: 31px;
            border-radius: 7px;
            background-color: #646855;
            color: #fff;
        }


        table {
            border-collapse: collapse;
        }

            table tr:nth-child(odd) {
                background-color: #eee;
            }

            table tr:nth-child(even) {
                background-color: white;
            }

            table tr:nth-child(){
            background-color:#555555;
        }

        .action {
            margin-left: 20px;
            width: 90px;
            border: none;
            height: 25px;
            border-radius: 5px;
            color: #fff;
            background-color: #555;
        }

    </style>
</head>
<body>

    <div class="container">
        <h2 style="color: #646855; font-weight: bold">
            Danh sách phiếu mượn
            <img style="width: 40px; height: 40px" src="~/Content/Image/gio.png" />
        </h2>
        <div>
            <form method="get" action="/PhieuMuon/DanhSachPM">
                <input type="text" class="find" placeholder="Nhập nội dung tìm" name="filter" required />
                <button style="margin-top:10px" type="submit" class="btn-tim">Tìm Kiếm</button>
            </form>
        </div>

        <div class="col-sm-6" style="padding-top: 20px">
            <a href="/PhieuMuon/DanhSachPM"><span style="color: red; font-weight: initial">Xem tất cả </span></a>
        </div>

    </div>
    <a href="/PhieuMuon/lapPM" style="display: block;margin-bottom:20px; color: #fff; float: right; background-color: #31708f; height: 26px; text-align: center; min-width: 150px; line-height: 2;">
        + Lập phiếu mượn
    </a>
    <table class="table">
            <thead>
                <tr style=" background-color:#555555; color: #fff">
                    <th>Mã phiếu mượn</th>
                    <th>Mã độc giả</th>
                    <th>Nhân Viên</th>
                    <th>Ngày lập phiếu</th>
                    <th>Tinh trang</th>
                    <td style="text-align: center">Action</td>
                    <th></th>

                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model)
                {
                <tr>
                    <td>@item.MaPhieuMuon</td>
                    <td>@item.MaDocGia</td>
                    <td>@item.NhanVien</td>
                    <td>@String.Format("{0: dd-MM-yyyy}", item.NgayLapPhieu)</td>
                    @{ if (ctpm.Count(m => m.MaPhieuMuon == item.MaPhieuMuon) == 0)
                        {
                            if (Pt.Count(m => m.MaPhieuMuon == item.MaPhieuMuon) > 0)
                            {
                                <td style="color: red"><span style="font-weight: bold">Đang phạt</span></td>
                            }
                            else
                            {
                                <td style="color: #000">Trống</td>
                            }

                        }
                        else
                        {
                            if (Pt.Count(m => m.MaPhieuMuon == item.MaPhieuMuon) > 0)
                            {
                                <td style="color: red"><span style="font-weight: bold">Đang phạt</span></td>
                            }
                            else
                            {
                                <td style="color: red">Đang mượn</td>
                            }
                        }
                    }
                                <td style="text-align: center">
                                    <a href="/PhieuMuon/LapCTPM?maPM=@item.MaPhieuMuon"><input class="action" type="button" value="Mượn sách" /></a>
                                    <a href="/PhieuMuon/xemCTPM?maDG=@item.MaDocGia"><input class="action" type="button" value="Xem chi tiết" /></a>
                                    <a href="/PhieuPhat/LapPhieuPhat?maPM=@item.MaPhieuMuon"><input class="action"  type="button" value="Phạt" /></a>
                                </td>
                    <td><a href="/PhieuMuon/xoaPM?id=@item.Id"><img src="~/Asset/User/images/bin.png" /></a></td>
                </tr>
                }
            </tbody>
        </table>
   
    <div class="col-sm-6" style="padding-top: 20px">
        <span style="color: red; font-weight: initial">@TempData["thongbao"]</span>
    </div>
</body>
</html>
